// ### Bootstrap styles ###

.container {
  padding: 0.3em;
}

#car1,
#car2,
#car3 {
  background-color: #a0a0a0;
}

#animal1,
#animal2,
#animal3 {
  background-color: #9596c5;
}

#person1,
#person2,
#person3 {
  background-color: #ffeb77;
}
